/* navbar styling */
.navbar a {
    color: #F3EFF5;
}
.navbar a:hover {
    background-color: #A99F96;
    color:#04070A;
}
.navbar a.selected {
    background-color: #123A68;
}
/* intro styling */
.intro {
    background-image: url('./images/IMG3646.JPG');
    background-size: cover;
    overflow: auto;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    align-items: right;
    justify-content: right;
    text-align:right;
    color: #F3EFF5;
    font-size: 20px;
    margin: 70px 100px auto;
}
#mainIntro {
    font-size: 50px;
}
#subIntro {
    font-size: 20px;
}
#description {
    font-size: 15px;
    max-width: 350px;
    position: relative;
    left: 30px;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.aboutMe {
    background-color: #123A68;
    color: #A99F96;
    display: center;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.redOutline {
    border-width:3px; 
    border-style:solid;
    border-color:#FF0000; 
}

.intro-text {
    text-align: left; /* Align text to the left */
    padding: 20px; /* Add padding for spacing */
    margin-top: 50px; /* Additional space from the top if needed */
  }
  
  #mainIntro, #subIntro, #description {
    margin-bottom: 1rem; /* Space between paragraphs */
  }
  
  @media (min-width: 768px) { /* For larger devices */
    .intro-text {
      max-width: 650px; /* Set a max-width if you want to constrain the text block */
      margin: auto; /* Center the text block */
    }
  }